footer {
    background-color: #99876a;
    padding: 10px 0;
}

footer article {
    font-size: 0.8em;
    text-align: center;
}

footer article:first-of-type {
    margin-bottom: 10px;
}

footer article a {
    color: #000b1a;
}

footer article a:hover {
    text-decoration: none;
}

@media screen and (max-width:480px) {
    footer article:first-of-type {
        display: none;
    }
}