html {
    font-family: Verdana, Geneva, sans-serif;
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    width: 100%;
}

header, footer {
    width: 100%;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

content {
    padding:20px 0;
    display: block;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
    margin: 30px 0 15px;
}

h1, h2, h4, h5, h6 {
    margin-bottom: 10px;
}

address {
    font-size: 1.2em;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    line-height: 1.5;
}

p:last-child {
    margin-bottom: 60px;
}

a {
    color: #000b1a;
}

a:hover {
    text-decoration: none;
}