@model YarnsMobile.Models.Book
@{
    ViewData["Title"] = "Update Book";
}

<div class="container">

    <a asp-controller="Admin" asp-action="Index"><< Go Back</a><br /><br />

    @if (Model.Image != null)
    {
        <img src="@Url.Action("GetImage", "Books", new { id = Model.Id })" class="right" height="400" />
    }
    else
    {
        <img src="~/images/noimage.jpg" class="right" height="400" />
    }

    <h2>Update a Book</h2>
    <p>All required fields are marked with (<span class="red">*</span>)</p>

    <form asp-action="UpdateBook" enctype="multipart/form-data" method="post">
        <div class="entry-group">
            <label asp-for="Title" class="requiredLabel"></label>
            <input asp-for="Title" placeholder="Title" />
            <span asp-validation-for="Title"></span>
        </div>

        <div class="entry-group">
            <label asp-for="Author" class="requiredLabel"></label>
            <input asp-for="Author" placeholder="Author" />
            <span asp-validation-for="Author"></span>
        </div>

        <div class="entry-group">
            <label asp-for="CopyrightYear" class="requiredLabel"></label>
            <input asp-for="CopyrightYear" placeholder="CopyrightYear" />
            <span asp-validation-for="CopyrightYear"></span>
        </div>

        <div class="entry-group">
            <label asp-for="ISBN" class="requiredLabel"></label>
            <input asp-for="ISBN" placeholder="ISBN" />
            <span asp-validation-for="ISBN"></span>
        </div>

        <div class="entry-group">
            <label asp-for="CoverImage"></label>
            <input asp-for="CoverImage" />
            <span asp-validation-for="CoverImage"></span>
        </div>

        <div class="entry-group">
            <label asp-for="CurrentPrice" class="requiredLabel"></label>
            <input asp-for="CurrentPrice" placeholder="Current Price" />
            <span asp-validation-for="CurrentPrice"></span>
        </div>

        <input type="submit" value="Update Book" />
    </form>
</div>