@{
    ViewData["Title"] = "Stable Genius";
}

<div class="container">
    <h1>About the Stable Genius</h1>
    <h2>Developer Name: <strong>Ross Meyer</strong></h2>

    <h3>Contact Info:</h3>

    <address>
        <strong>Home Address:</strong><br />
        9932 Nob Hill Place<br />Sunrise, FL 33351
    </address>

    <address>
        <strong>Email Address</strong><br />
        <a href="mailto:rossbmeyer@outlook.com">rossbmeyer@outlook.com</a>
    </address>

    <address>
        <strong>Phone Number</strong><br />
        (561)901-3922
    </address>

    <address>
        <strong>Source Code can be viewed at:<br /><a href="https://github.com/metsrm/YarnsMobile" target="_blank">https://github.com/metsrm/YarnsMobile</a></strong>
    </address>
</div>


