@{
    ViewData["Title"] = "Stable Genius";
}

<div class="container">
    <h1>About the Stable Genius</h1>
    <h2>Developer Name: <strong>Ross Meyer</strong></h2>

    <h3>Contact Info:</h3>

    <address>
        <strong>Home Address:</strong><br />
        9932 Nob Hill Place<br />Sunrise, FL 33351
    </address>

    <address>
        <strong>Email Address</strong><br />
        <a href="mailto:rossbmeyer@outlook.com">rossbmeyer@outlook.com</a>
    </address>

    <address>
        <strong>Phone Number</strong><br />
        (561)901-3922
    </address>

    <address>
        <strong>Source Code can be viewed at:<br /><a href="https://github.com/metsrm/YarnsMobile" target="_blank">https://github.com/metsrm/YarnsMobile</a></strong>
    </address>

    <h3>Meet Ross</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim scelerisque risus non tempus. Aenean libero turpis, blandit quis luctus efficitur, iaculis nec velit. Suspendisse consectetur congue quam vel tempus. Proin sit amet nulla fringilla, porttitor nisl at, ultrices tortor. Duis ipsum velit, dignissim eu accumsan egestas, auctor ut nisi. Aenean sagittis, enim at efficitur congue, urna sem auctor dolor, et commodo ante tellus a ex. Integer turpis ante, facilisis sed sem in, suscipit viverra mauris. Quisque scelerisque nunc nec varius hendrerit. Morbi eget pharetra quam. Donec ac diam in diam maximus pulvinar nec quis lectus. Praesent imperdiet sodales dui aliquet porttitor. Aenean et placerat lorem, et commodo est. Vivamus nulla magna, convallis a lorem vel, pellentesque mattis nunc.</p>

    <p>Nullam id justo ligula. In convallis lacus magna, vitae scelerisque nisi suscipit id. In pellentesque est ut arcu convallis congue. Etiam non congue nibh. Nulla leo ex, molestie id vehicula ac, malesuada ac purus. Donec venenatis bibendum sollicitudin. Phasellus sodales velit sit amet feugiat varius. Vivamus cursus sollicitudin rutrum. Nullam pellentesque porta orci non ornare. Duis a congue tortor, vel rhoncus nulla.</p>

    <p>Aliquam vel leo feugiat, euismod nibh vitae, elementum neque. Cras nunc nisi, dignissim id varius non, laoreet vel enim. Vivamus at velit lacus. Suspendisse hendrerit sodales sapien, nec consequat nulla elementum ut. Phasellus lobortis pretium turpis, ac ullamcorper lorem aliquet in. Quisque quis sollicitudin arcu. Nam non diam sit amet ligula ullamcorper consectetur. Nullam non erat vel enim convallis tincidunt. </p>
</div>


